<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="GridTest" parallel="tests">
  <test name="Chrome Test">
  <parameter name="Port" value="4445" /> 
    <classes>
      <class name="grid.Demo"/>
    </classes>
  </test> <!-- Chrome Test -->
  
  <test name="Firefox Test">
		<parameter name="Port" value="4446" />
		<classes>
			<class name="grid.Demo" />
		</classes>
	</test> 
  
</suite> <!-- GridTest -->